<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0" style="margin-top: 5%;">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5" style="margin-top: 150px;">
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
                        <img src="../../assets/logo.png" class="image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6" *ngIf="page==0">
                <div class="card2 card border-0 px-4 py-5">
                    <div class="row px-3 mb-4">
                        <div class="line"></div>
                        <small class="or text-center">Change password</small>
                        <div class="line"></div>
                    </div>
                    <div class="row px-3">
                        <label class="mb-1"><h6 class="mb-0 text-sm" style="color: #9a0026;">{{errorMessage}}</h6></label>
                    </div>
                    <br/>
                    <div class="row px-3">
                        <label class="mb-1"><h6 class="mb-0 text-sm">Username</h6></label>
                        <input class="mb-4" type="text" name="email" placeholder="Enter a valid username" [(ngModel)]="username">
                    </div>
                    <div class="row mb-3 px-3">
                        <button type="submit" class="btn btn-blue text-center" (click)="next()">Next</button>
                    </div>
                    <div class="row mb-4 px-3">
                        <small class="font-weight-bold">Forgot old password? <a class="text-danger " routerLink="/changePassword1">Click here</a></small> <br/>
                        <small class="font-weight-bold">Back to login? <a class="text-danger " routerLink="/">Login</a></small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" *ngIf="page==1">
                <div class="card2 card border-0 px-4 py-5">
                    <div class="row px-3 mb-4">
                        <div class="line"></div>
                        <small class="or text-center">Change password</small>
                        <div class="line"></div>
                    </div>
                    <div class="row px-3">
                        <label class="mb-1"><h6 class="mb-0 text-sm" style="color: #9a0026;">{{errorMessage}}</h6></label>
                    </div>
                    <br/>
                    <div class="row px-3">
                        <label class="mb-1"><h6 class="mb-0 text-sm">Answer to the safety question: {{u.safetyQuestion}}</h6></label>
                        <input class="mb-4" type="text" name="email" placeholder="Enter an answer" [(ngModel)]="answer">
                    </div>
                    <div class="row mb-3 px-3">
                        <button type="submit" class="btn btn-blue text-center" (click)="next()">Next</button>
                    </div>
                    <div class="row mb-4 px-3">
                        <small class="font-weight-bold">Forgot old password? <a class="text-danger " routerLink="/changePassword1">Click here</a></small> <br/>
                        <small class="font-weight-bold">Back to login? <a class="text-danger " routerLink="/">Login</a></small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" *ngIf="page==2">
                <div class="card2 card border-0 px-4 py-5">
                    <div class="row px-3 mb-4">
                        <div class="line"></div>
                        <small class="or text-center">Change password</small>
                        <div class="line"></div>
                    </div>
                    <div class="row px-3">
                        <label class="mb-1"><h6 class="mb-0 text-sm" style="color: #9a0026;">{{errorMessage}}</h6></label>
                    </div>
                    <br/>
                    <div class="row px-3">
                        <label class="mb-1"><h6 class="mb-0 text-sm">New password</h6></label>
                        <input class="mb-4" type="password" name="email" placeholder="Enter a new password" [(ngModel)]="newPassword">
                    </div>
                    <div class="row px-3">
                        <label class="mb-1"><h6 class="mb-0 text-sm">New password again</h6></label>
                        <input class="mb-4" type="password" name="email" placeholder="Enter a new password again" [(ngModel)]="newPassword1">
                    </div>
                    <div class="row mb-3 px-3">
                        <button type="submit" class="btn btn-blue text-center" (click)="next()">Next</button>
                    </div>
                    <div class="row mb-4 px-3">
                        <small class="font-weight-bold">Forgot old password? <a class="text-danger " routerLink="/changePassword1">Click here</a></small> <br/>
                        <small class="font-weight-bold">Back to login? <a class="text-danger " routerLink="/">Login</a></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-blue py-4">
            <div class="row px-3">
                <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2024. All rights reserved. Sofija Marković, odsek za Softversko inženjerstvo, Elektrotehnički fakultet Univerziteta u Beogradu.</small>
                <div class="social-contact ml-4 ml-sm-auto">
                    <span class="fa fa-facebook mr-4 text-sm"></span>
                    <span class="fa fa-google-plus mr-4 text-sm"></span>
                    <span class="fa fa-linkedin mr-4 text-sm"></span>
                    <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span>
                </div>
            </div>
        </div>
    </div>
</div>

