<head>
    <link src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
</head>
<body class="container">
    <div class="row">
        <div class="col-2">
            <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white" style="padding-top: 4%;">
                <div class="position-sticky">
                    <div class="list-group list-group-flush mx-3 mt-4">
                      <a routerLink="/adminHome" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                          <i class="bi bi-person-lines-fill" style="margin-right: 20px;"></i><span>Home</span>
                      </a>
                      <a routerLink="/adminStudents" class="list-group-item list-group-item-action py-2 ripple active">
                          <i class="bi bi-calculator-fill" style="margin-right: 20px;"></i><span>Students</span></a>
                      <a routerLink="/adminProfessors" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="bi bi-backpack-fill" style="margin-right: 20px;"></i><span>Professors</span>
                      </a>
                      <a routerLink="#" class="list-group-item list-group-item-action py-2 ripple" (click)="logout()">
                        <i class="bi bi-box-arrow-left" style="margin-right: 20px;"></i><span>Logout</span>
                      </a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="card col-10" style="padding: 0%;" id="main"> 
            <div class="header">
                <h1>Students overview</h1>
                <p>Your <b>easy way</b> for studying.</p>
            </div>
            <div class="row" style="padding-left: 6%; padding-right: 2%; margin-top: 20px;">
                <table class="table table-striped table-hover table-bordered" style="border-color: black; font-size: 20px; margin-top: 10px; background-color: #faf0e6; width: 100%;" id="table1">
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Contact</th>
                        <th>Gender</th>
                        <th>School</th>
                        <th>Grade</th>
                    </tr>
                    <tr *ngFor="let s of students">
                        <td>{{s.name}}</td>
                        <td>{{s.surname}}</td>
                        <td>{{s.email}}</td>
                        <td>{{s.adress}}</td>
                        <td>{{s.contact}}</td>
                        <td *ngIf="s.gender==1">Male</td>
                        <td *ngIf="s.gender==2">Female</td>
                        <td *ngIf="s.schoolType==1">Primary school</td>
                        <td *ngIf="s.schoolType==2">Gramar school</td>
                        <td *ngIf="s.schoolType==3">Vocational school</td>
                        <td *ngIf="s.schoolType==4">Art school</td>
                        <td>{{s.grade}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
