<div style="width: 800px; background-color: rgb(255, 255, 255);">
    <full-calendar [options]="calendarOptions"></full-calendar>
</div>

<div class="modal fade" id="editProfileModal1" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true" style="margin-left: 8%;">
    <div class="modal-dialog">
      <div class="modal-content"  style="width: 100%; padding: 10%; margin-top: 25%;">
        <div class="modal-header text-center">
          <h4 id="editProfileModalLabel">Event</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <br/>
            <div class="row px-3">
              <label class="mb-1"><h5 class="mb-0 text-sm">{{message}}</h5></label>
            </div>
      </div>
    </div>
  </div>