<head>
    <link src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
</head>
<body class="container">
    <div class="row">
        <div class="col-2">
            <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white" style="padding-top: 4%;">
                <div class="position-sticky">
                    <div class="list-group list-group-flush mx-3 mt-4">
                      <a routerLink="/professorProfile" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                          <i class="bi bi-person-lines-fill" style="margin-right: 20px;"></i><span>Profile</span>
                      </a>
                      <a routerLink="/professorClasses" class="list-group-item list-group-item-action py-2 ripple">
                          <i class="bi bi-calculator-fill" style="margin-right: 20px;"></i><span>Classes</span></a>
                      <a routerLink="/professorStudents" class="list-group-item list-group-item-action py-2 ripple active">
                        <i class="bi bi-backpack-fill" style="margin-right: 20px;"></i><span>Students</span>
                      </a>
                      <a routerLink="#" class="list-group-item list-group-item-action py-2 ripple" (click)="logout()">
                        <i class="bi bi-box-arrow-left" style="margin-right: 20px;"></i><span>Logout</span>
                    </a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="card col-10" style="padding: 0%;" id="main"> 
            <div class="header">
                <h1>Students overview</h1>
                <p>Your <b>easy way</b> for studying.</p>
                
            </div>
            <br/><br/>
            <div class="row" style="padding-left: 6%; padding-right: 2%;">
                <h2>Students</h2>
                <div class="row" style="padding-left: 10%; padding-right: 13%;" id="notifications">
                    <div class="row notification-container">
                        <div class="card notification-card notification-invitation shadow-box" style="background-color: transparent; height: fit-content; width:70%; margin-left: 17%;" *ngFor="let s of students">
                            <div class="card-body" style="display: flex; align-items: center;">
                                <div style="margin-top: 10px; margin-bottom: 10px; display: flex; align-items: center;">
                                    <img src="data:image/jpeg;base64,{{s.image}}" alt="Avatar" class="avatar" style="margin-right: 80px; border: 0.2px solid black;">
                                    <span><h3 style="font-size: 25px;">{{s.name}} {{s.surname}}</h3><p><a routerLink="/studentDetails" (click)="saveStudent(s)">View student</a></p></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>