<body class="container">
    <div class="row">
        <div class="col-2">
            <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white" style="padding-top: 4%;">
                <div class="position-sticky">
                    <div class="list-group list-group-flush mx-3 mt-4">
                      <a routerLink="/professorProfile" class="list-group-item list-group-item-action py-2 ripple active" aria-current="true">
                          <i class="bi bi-person-lines-fill" style="margin-right: 20px;"></i><span>Profile</span>
                      </a>
                      <a routerLink="/professorClasses" class="list-group-item list-group-item-action py-2 ripple">
                          <i class="bi bi-calculator-fill" style="margin-right: 20px;"></i><span>Classes</span></a>
                      <a routerLink="/professorStudents" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="bi bi-backpack-fill" style="margin-right: 20px;"></i><span>Students</span>
                      </a>
                      <a routerLink="#" class="list-group-item list-group-item-action py-2 ripple" (click)="logout()">
                        <i class="bi bi-box-arrow-left" style="margin-right: 20px;"></i><span>Logout</span>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="card col-10" style="padding: 0%;"> 
            <div class="card-img-top"></div>
            <div class="card-body little-profile text-center">
                <div class="pro-img"> <img src="data:image/jpeg;base64,{{professor.image}}" alt="user"></div>
                <h2 class="m-b-0">{{professor.name}} {{professor.surname}}</h2>
                <p>Professor</p>
                <p *ngIf="avg>0 && avg<=1"><i class="bi bi-star-fill" style="color: rgb(229, 182, 12); display: inline-block;"></i></p>
                <p *ngIf="avg>1 && avg<=2"><i class="bi bi-star-fill" style="color: rgb(229, 182, 12); display: inline-block;"></i><i class="bi bi-star-fill" style="color: rgb(229, 182, 12); display: inline-block;"></i></p>
                <p *ngIf="avg>2 && avg<=3"><i class="bi bi-star-fill" style="color: rgb(229, 182, 12); display: inline-block;"></i><i class="bi bi-star-fill" style="color: rgb(229, 182, 12); display: inline-block;"></i><i class="bi bi-star-fill" style="color: rgb(229, 182, 12); display: inline-block;"></i></p>
                <p *ngIf="avg>3 && avg<=4"><i class="bi bi-star-fill" style="color: rgb(229, 182, 12); display: inline-block;"></i><i class="bi bi-star-fill" style="color: rgb(229, 182, 12); display: inline-block;"></i><i class="bi bi-star-fill" style="color: rgb(229, 182, 12); display: inline-block;"></i><i class="bi bi-star-fill" style="color: rgb(229, 182, 12); display: inline-block;"></i></p>
                <p *ngIf="avg>4 && avg<=5"><i class="bi bi-star-fill" style="color: rgb(229, 182, 12); display: inline-block;"></i><i class="bi bi-star-fill" style="color: rgb(229, 182, 12); display: inline-block;"></i><i class="bi bi-star-fill" style="color: rgb(229, 182, 12); display: inline-block;"></i><i class="bi bi-star-fill" style="color: rgb(229, 182, 12); display: inline-block;"></i><i class="bi bi-star-fill" style="color: rgb(229, 182, 12); display: inline-block;"></i></p>
                <p *ngIf="avg==0">No raiting yet.</p>
                <button class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded" (click)="openEditProfileModal()">Edit profile</button>
                    <br/><br/>
                    <div class="row text-center m-t-20">
                    <div class="col-lg-3 col-md-3 m-t-20">
                        <h3 class="m-b-0 font-light">Email</h3><small>{{professor.email}}</small>
                    </div>
                    <div class="col-lg-3 col-md-3 m-t-20">
                        <h3 class="m-b-0 font-light">Contact</h3><small>{{professor.contact}}</small>
                    </div>
                    <div class="col-lg-3 col-md-3 m-t-20">
                        <h3 class="m-b-0 font-light">Address</h3><small>{{professor.adress}}</small>
                    </div>
                    <div class="col-lg-3 col-md-3 m-t-20">
                        <h3 class="m-b-0 font-light">Works with: </h3><small>{{worksWith}}</small>
                    </div>
                    
                    </div>
                    <br/><br/><br/>
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-3">
                            <ol class="list-group list-group-numbered" style="margin-left: 10%; margin-right: 10%; text-align: left;" id="listOfSubjects">
                              <label for="listOfSubjects"><h3>List of subjects</h3></label>
                              <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let sub of subjects" style="background-color: transparent;">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold">{{sub.name}}</div>
                                </div>
                              </li>
                            </ol>
                          </div>
                        <div class="col-3"></div>
                        <div class="col-4"></div>
                      </div>
                <br/><br/>
            </div>
        </div>
    </div>
</body>

<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true" style="margin-left: 8%;">
    <div class="modal-dialog">
      <div class="modal-content"  style="width: 100%; padding: 10%;">
        <div class="modal-header text-center">
          <h4 id="editProfileModalLabel">Edit Profile</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>You can leave inputs empty if You don't want to change info.</p>
            <div class="row px-3">
                <label class="mb-1"><h6 class="mb-0 text-sm" style="color: #9a0026;">{{errorMessage}}</h6></label>
            </div>
            <div class="row px-3">
                <label class="mb-1"><h6 class="mb-0 text-sm">First name</h6></label>
                <input type="text" name="name" placeholder="Enter Your first name" [(ngModel)]="newName">
            </div>
            <br/>
            <div class="row px-3">
                <label class="mb-1"><h6 class="mb-0 text-sm">Last name</h6></label>
                <input type="text" name="surname" placeholder="Enter Your last name" [(ngModel)]="newSurname">
            </div>
            <br/>
            <div class="row px-3">
                <label class="mb-1"><h6 class="mb-0 text-sm">Address</h6></label>
                <input type="text" name="adress" placeholder="Enter Your adress" [(ngModel)]="newAddress">
            </div>
            <br/>
            <div class="row px-3">
                <label class="mb-1"><h6 class="mb-0 text-sm">Contact</h6></label>
                <input type="text" name="contact" placeholder="Enter Your contact number" [(ngModel)]="newContact">
            </div>
            <br/>
            <div class="row px-3">
                <label class="mb-1"><h6 class="mb-0 text-sm">Email Address</h6></label>
                <input class="mb-4" type="text" name="email" placeholder="Enter a valid email address" [(ngModel)]="newEmail">
            </div>
            <div class="row px-3">
                <label class="mb-1"><h6 class="mb-0 text-sm">Profile picture</h6></label>
                <input class="mb-4" type="file" name="picture" (change)="validateFile($event)">
                <div id="preview"></div>
            </div>
            <div class="row px-3">
                <label class="mb-1"><h6 class="mb-0 text-sm">I want to work with:</h6></label>
                <div>
                    <input type="checkbox" value="1" [(ngModel)]="primary1"> Primary schoolers (1-4 grade) <br/>
                    <input type="checkbox" value="2" [(ngModel)]="primary2"> Primary schoolers (5-8 grade) <br/>
                    <input type="checkbox" value="3" [(ngModel)]="highschool"> Highschoolers
                </div>
            </div>
            <br/>
            <div class="row px-3">
                <label class="mb-1"><h6 class="mb-0 text-sm">Subjects I want to teach:</h6></label>
                <div>
                    <table>
                        <tr *ngFor="let s of allSubjects; let i=index"><input type="checkbox" value="1" [(ngModel)]="isSubjectChosen[i]"> {{s.name}}<br/></tr>
                    </table>
        
                </div>
            </div>
        <div class="modal-footer text-center">
          <button class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded" style="margin-right: 30%;" (click)="save()">Save changes</button>
        </div>
      </div>
    </div>
  </div>